.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.left {
}

.right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.account {
}

.toggle_mode {
}
